/* screen - 404-web */

.x404-web {
  background-color: transparent;
  min-height: 1800px;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.x404-web .x404-bvM1Is {
  background-color: var(--general-colormidnight-blue---hero-section);
  min-height: 1800px;
  left: 0.0vw;
  overflow: hidden;
  position: relative;
  top: 0.0vw;
  width: 100.0vw;
}

.x404-web .navbar-JUj1NU {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  justify-content: space-between;
  left: 0.0vw;
  padding: 2.34vw 7.03vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.x404-web .group-HxhoYB {
  background-color: transparent;
  height: 5.37vw;
  position: relative;
  width: 8.69vw;
}

.x404-web .logo-EyfjYN {
  background-color: transparent;
  height: 5.37vw;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 8.69vw;
}

.x404-web .bharat-logo-qPb094 {
  background-color: transparent;
  height: 5.37vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 8.69vw;
}

.x404-web .menu-HxhoYB {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.0vw 13.48vw;
  position: relative;
  width: 59.44vw;
}

.x404-web .home-BWtVxT {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.x404-web .blog-BWtVxT {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.x404-web .download-resume-BWtVxT {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.x404-web .button-HxhoYB {
  align-items: center;
  background-color: var(--brandbrandorange);
  border-radius: 5.86vw;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 0.98vw;
  justify-content: center;
  padding: 1.56vw 3.12vw;
  position: relative;
}

.x404-web .contact-me-xyHco3 {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.34vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.x404-web .grid-JUj1NU {
  background-color: transparent;
  height: 50vw;
  left: -28.12vw;
  position: absolute;
  top: 13.38vw;
  width: 156.25vw;
}

.x404-web .group-36458-7by6lu {
  background-color: transparent;
  height: 127.83vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 156.25vw;
}

.x404-web .line-3-M2VKTO {
  left: 1926.66vw;
  top: 1557.71vw;
  width: 127.83vw;
}

.x404-web .line-5-M2VKTO {
  height: 120.02vw;
  left: 52.05vw;
  top: 0.0vw;
  width: 0.1vw;
}

.x404-web .line-6-M2VKTO {
  height: 120.02vw;
  left: 78.12vw;
  top: 0.0vw;
  width: 0.1vw;
}

.x404-web .line-7-M2VKTO {
  height: 120.02vw;
  left: 104.2vw;
  top: 0.0vw;
  width: 0.1vw;
}

.x404-web .line-8-M2VKTO {
  left: 2030.76vw;
  top: 1557.71vw;
  width: 127.83vw;
}

.x404-web .line-9-M2VKTO {
  left: 2056.84vw;
  top: 1557.71vw;
  width: 127.83vw;
}

.x404-web .line-4-M2VKTO {
  left: 1900.59vw;
  top: 1557.71vw;
  width: 127.83vw;
}

.x404-web .group-36459-7by6lu {
  background-color: transparent;
  height: 156.25vw;
  left: 14.16vw;
  position: absolute;
  top: -14.16vw;
  transform: rotate(-90deg);
  width: 127.83vw;
}

.x404-web .line-3-RdNNim {
  left: -28.61vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-5-RdNNim {
  height: 0.1vw;
  left: -7.32vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-6-RdNNim {
  height: 0.1vw;
  left: 13.96vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-7-RdNNim {
  height: 0.1vw;
  left: 35.25vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-8-RdNNim {
  left: 56.54vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-9-RdNNim {
  left: 77.93vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.x404-web .line-4-RdNNim {
  left: -1635.84vw;
  top: 1978.71vw;
  transform: rotate(90deg);
  width: 156.25vw;
}

.x404-web .frame-1000002067-JUj1NU {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 3.12vw;
  left: 10.84vw;
  position: absolute;
  top: 250px;
}

.x404-web .frame-1000002063-X7umrt {
  background-color: transparent;
  height: 33.11vw;
  position: relative;
  width: 78.42vw;
}

.x404-web .x4-qpp3OD {
  left: 6.05vw;
  transform: rotate(-30.00deg);
}

.x404-web .x4-Qxwy2Q {
  left: 55.76vw;
  transform: rotate(30.00deg);
}

.x404-web .x0-qpp3OD {
  background-color: transparent;
  color: var(--bckgroundbg-cultured);
  font-family: var(--font-family-space_grotesk);
  font-size: 26.15vw;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 31.15vw;
  letter-spacing: 0.0vw;
  line-height: 28.49vw;
  position: absolute;
  text-align: left;
  top: 2.15vw;
  white-space: nowrap;
  width: auto;
}

.x404-web .vector-qpp3OD {
  background-color: transparent;
  height: 5.27vw;
  left: 36.52vw;
  position: absolute;
  top: -3.03vw;
  width: 5.27vw;
}

.x404-web .polygon-1-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 25.0vw;
  position: absolute;
  top: 7.62vw;
  width: 2.05vw;
}

.x404-web .polygon-6-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 76.27vw;
  position: absolute;
  top: 23.83vw;
  width: 2.05vw;
}

.x404-web .polygon-2-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 4.0vw;
  position: absolute;
  top: 21.58vw;
  width: 2.05vw;
}

.x404-web .polygon-3-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 54.3vw;
  position: absolute;
  top: 24.51vw;
  width: 2.05vw;
}

.x404-web .polygon-4-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 54.3vw;
  position: absolute;
  top: 6.45vw;
  width: 2.05vw;
}

.x404-web .polygon-5-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 28.81vw;
  position: absolute;
  top: 28.61vw;
  width: 2.05vw;
}

.x404-web .polygon-7-qpp3OD {
  background-color: transparent;
  height: 2.05vw;
  left: 2.83vw;
  position: absolute;
  top: 5.37vw;
  width: 2.05vw;
}

.x404-web .frame-1000002064-X7umrt {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.7vw;
  position: relative;
}

.x404-web .halaman-yang-anda-ca-5TpSMi {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.34vw;
  margin-top: -0.07vw;
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: 59.52vw;
}

.x404-web .back-to-homepage-5TpSMi {
  background-color: transparent;
  color: var(--brandbrandorange);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.0vw;
  line-height: 2.73vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.x404-web .line-3 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.x404-web .line-4 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.x404-web .line-5 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.x404-web .line-7 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.x404-web .line-8 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.x404-web .line-9 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.x404-web .x4 {
  background-color: transparent;
  color: var(--brandbrandorange);
  font-family: var(--font-family-space_grotesk);
  font-size: 26.15vw;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.0vw;
  line-height: 28.49vw;
  position: absolute;
  text-align: left;
  top: 2.15vw;
  white-space: nowrap;
  width: auto;
}



.x404-web .home-BWtVxT,
.x404-web .blog-BWtVxT,
.x404-web .download-resume-BWtVxT {
  transition: 0.3s;
  cursor: pointer;
}

.x404-web .home-BWtVxT:hover,
.x404-web .blog-BWtVxT:hover,
.x404-web .download-resume-BWtVxT:hover {
  opacity: 0.5;
}

.x404-web .home-BWtVxT a,
.x404-web .home-BWtVxT a:visited,
.x404-web .home-BWtVxT a:active,
.x404-web .blog-BWtVxT a,
.x404-web .blog-BWtVxT a:visited,
.x404-web .blog-BWtVxT a:active,
.x404-web .download-resume-BWtVxT a,
.x404-web .download-resume-BWtVxT a:visited,
.x404-web .download-resume-BWtVxT a:active {
  text-decoration: none;
  color: #fff;
}


.x404-web .button-HxhoYB {
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
}

.x404-web .button-HxhoYB:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}

/* ------------------ */

.x404-web .contact-me-hamburger {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.x404-web .hamburger-icon {
  cursor: pointer;
  transition: all 0.4s;
  display: none;
}

.x404-web .hamburger-icon:hover {
  opacity: 0.5;
}

.x404-web .contact-me-hamburger svg {
  color: #FFF;
}
/* ---------------------------------  */
body.mobile-menu-off .fixed-mobile-nav {
  display: none;
}
.x404-web .fixed-mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #093753;
  z-index: 500;
}

.x404-web .fixed-mobile-nav .times-icon {
  position: fixed;
  right: 5vw;
  top: 5vw;
  cursor: pointer;
  transition: all 0.4s;
}

.x404-web .fixed-mobile-nav .times-icon:hover {
  opacity: 0.5;
}

.x404-web .fixed-mobile-nav .times-icon svg {
  color: #FFF;
}

.x404-web .fixed-mobile-nav .nav-items {
  text-align: center;
  margin-top: 15vw;
}

.x404-web .fixed-mobile-nav .nav-items div {
  margin: 2vw;
}


.x404-web .fixed-mobile-nav .nav-items a {
  transition: 0.3s;
  cursor: pointer;
  display: block;
  padding: 5vw;
  font-size: 5vw;
}
.x404-web .fixed-mobile-nav .nav-items a:hover {
  opacity: 0.5;
}

.x404-web .fixed-mobile-nav .nav-items a,
.x404-web .fixed-mobile-nav .nav-items a:visited,
.x404-web .fixed-mobile-nav .nav-items a:active {
  text-decoration: none;
  color: #fff;
}
/* ---------------------------------------  */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #093753;
  padding: 4.49vw 9.49vw;
  border-top: 1px solid #ef856e;
  margin-top: 5vw;
}
.footer .footer-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .footer-logo {
  margin-bottom: 2vw;
}
.footer .footer-desc {
  line-height: 30px;
}

.footer .footer-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
  justify-content: flex-start;
  margin: 2vw 0;
}
.footer .footer-icons > div {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ef856e;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.footer .footer-icons > div:hover {
  opacity: 0.5;
}
.footer .footer-icons svg {
  color: #fff;
}
.footer .footer-right {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2vw;
}

.footer .footer-right a {
  text-decoration: none;
  color: #FFF;
}
.footer .copyright {
  text-align: center;
}
.footer .copyright .line {
  width: 70vw;
  height: 1px;
  background-color: #ef856e;
  margin: 2vw auto;
  margin-bottom: 5vw;
}
/* ------------------ */
.home-VT5um2,
.blog-VT5um2,
.download-resume-VT5um2,
.home-VT5um2,
.blog-VT5um2,
.download-resume-VT5um2,
.home-VT5um2,
.blog-VT5um2,
.download-resume-VT5um2 {
  transition: 0.3s;
  cursor: pointer;
}

.home-VT5um2:hover,
.blog-VT5um2:hover,
.download-resume-VT5um2:hover,
.home-VT5um2:hover,
.blog-VT5um2:hover,
.download-resume-VT5um2:hover,
.home-VT5um2:hover,
.blog-VT5um2:hover,
.download-resume-VT5um2:hover {
  opacity: 0.5;
}

.home-VT5um2 a,
.home-VT5um2 a:visited,
.home-VT5um2 a:active,
.blog-VT5um2 a,
.blog-VT5um2 a:visited,
.blog-VT5um2 a:active,
.download-resume-VT5um2 a,
.download-resume-VT5um2 a:visited,
.download-resume-VT5um2 a:active {
  text-decoration: none;
  color: #fff;
}
/* ------------------ */
/* ------------------ */
/* ------------------ */
@media screen and (max-width: 1599px) {
  

  .footer .footer-right {
    justify-content: flex-start;
    padding: 4vw 0;
  }
  .footer .footer-body {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1399px) {
  .x404-web {
    min-height: 1600px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1600px;
  }
}
@media screen and (max-width: 1299px) {
  .x404-web {
    min-height: 1500px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1500px;
  }
}
@media screen and (max-width: 1199px) {
  .x404-web {
    min-height: 1400px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1400px;
  }
}
@media screen and (max-width: 1023px) {
  .x404-web .hamburger-icon {
    display: block;
  }
  .x404-web .menu-HxhoYB {
    display: none;
  }
  /* --------- */
  .footer .footer-right {
    grid-template-columns: auto;
    gap: 4vw;
  }
  .footer-desc {
    line-height: 4vw;
  }
}


@media screen and (max-width: 800px) {
  .x404-web {
    min-height: 1300px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1300px;
  }
}

@media screen and (max-width: 700px) {
  .x404-web {
    min-height: 1100px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1100px;
  }

  .x404-web .frame-1000002067-JUj1NU {
    top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .x404-web {
    min-height: 1000px;
  }
  
  .x404-web .x404-bvM1Is {
    min-height: 1000px;
  }
}