/* screen - mobile-contact */

.mobile-contact {
  background-color: transparent;
  height: 330vw;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.mobile-contact .form-registration-type8-Pg4JIv {
  background-color: var(--general-colormidnight-blue---hero-section);
  height: 330vw;
  left: 0.0vw;
  overflow: hidden;
  position: relative;
  top: 0.0vw;
  width: 100.0vw;
}

.mobile-contact .navbar-cnthex {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  justify-content: center;
  left: 0.0vw;
  padding: 6.4vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.mobile-contact .group-LAxrl7 {
  background-color: transparent;
  height: 12.0vw;
  position: relative;
  width: 13vw;
}

.mobile-contact .logo-FqD6uX {
  background-color: transparent;
  height: 12.0vw;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 13vw;
}

.mobile-contact .bharat-logo-yFKirY {
  background-color: transparent;
  height: 12.0vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 13vw;
}

.mobile-contact .button-LAxrl7 {
  flex: 0 0 auto;
  padding: 4.27vw 8.53vw;
}

.mobile-contact .grid-cnthex {
  background-color: transparent;
  height: 349.07vw;
  left: -163.2vw;
  position: absolute;
  top: 36.53vw;
  width: 426.67vw;
}

.mobile-contact .group-36458-xx4I5i {
  background-color: transparent;
  height: 349.07vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 426.67vw;
}

.mobile-contact .line-3-kMXoxt {
  left: 4432.27vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .line-5-kMXoxt {
  left: 4503.2vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .line-6-kMXoxt {
  height: 349.07vw;
  left: 213.33vw;
  top: 0.0vw;
  width: 0.27vw;
}

.mobile-contact .line-7-kMXoxt {
  left: 4645.6vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .line-8-kMXoxt {
  left: 4716.53vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .line-9-kMXoxt {
  left: 4787.73vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .line-4-kMXoxt {
  left: 4361.07vw;
  top: 2864.0vw;
  width: 349.07vw;
}

.mobile-contact .group-36459-xx4I5i {
  background-color: transparent;
  height: 426.67vw;
  left: 38.67vw;
  position: absolute;
  top: -38.67vw;
  transform: rotate(-90deg);
  width: 349.07vw;
}

.mobile-contact .line-3-gnq6nC {
  left: 8.27vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-5-gnq6nC {
  left: 66.4vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-6-gnq6nC {
  height: 0.27vw;
  left: 124.8vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-7-gnq6nC {
  left: 182.93vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-8-gnq6nC {
  left: 241.07vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-9-gnq6nC {
  left: 299.2vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .line-4-gnq6nC {
  left: -49.87vw;
  top: 213.07vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.mobile-contact .frame-1000002062-cnthex {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  left: 0.0vw;
  position: absolute;
  top: 27.73vw;
}

.mobile-contact .get-to-know-the-info-xjcKm9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8.53vw;
  padding: 5vw 6.4vw;
  position: relative;
  width: 100.0vw;
}

.mobile-contact .img-GrNrHS {
  background-color: transparent;
  height: 50.67vw;
  position: relative;
  width: 87.2vw;
}

.mobile-contact .rectangle-H18m6l {
  background-color: var(--sunglow);
  border-radius: 1.03vw;
  height: 34.93vw;
  left: 0.0vw;
  position: absolute;
  top: 15.73vw;
  width: 87.2vw;
}

.mobile-contact .polygon-1-H18m6l {
  background-color: transparent;
  height: 3.47vw;
  left: 19.2vw;
  position: absolute;
  top: 6.13vw;
  width: 3.47vw;
}

.mobile-contact .bharat-bit-moji-H18m6l {
  background-color: transparent;
  height: 56.27vw;
  left: 15.73vw;
  object-fit: cover;
  position: absolute;
  top: -5.6vw;
  width: 50.93vw;
}

.mobile-contact .polygon-5-H18m6l {
  background-color: transparent;
  height: 3.47vw;
  left: 12.0vw;
  position: absolute;
  top: 27.47vw;
  width: 3.47vw;
}

.mobile-contact .polygon-3-H18m6l {
  background-color: transparent;
  height: 3.47vw;
  left: 49.6vw;
  position: absolute;
  top: 0.27vw;
  width: 3.47vw;
}

.mobile-contact .polygon-4-H18m6l {
  background-color: transparent;
  height: 3.47vw;
  left: 68.27vw;
  position: absolute;
  top: 31.47vw;
  width: 3.47vw;
}

.mobile-contact .frame-1000001803-GrNrHS {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8.53vw;
  position: relative;
}

.mobile-contact .title-xaIGC7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  /* gap: 4.27vw; */
}

.mobile-contact .title-Py4xPw {
  letter-spacing: 0.0vw;
  line-height: 12.27vw;
  margin-top: -0.27vw;
  text-align: left;
  width: 87.2vw;
}

.mobile-contact .reach-out-with-your-Py4xPw {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 6.93vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  width: 87.2vw;
}

.mobile-contact .right-xjcKm9 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5vw;
  padding: 0 6.4vw;
  position: relative;
  width: 100.0vw;
}

.mobile-contact .form-BIoeTz {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6.4vw;
  position: relative;
  width: 100%;
}

.mobile-contact .frame-1000001250-nsgrTz {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.27vw solid;
  border-color: var(--general-color3);
  border-radius: 4.27vw;
  display: flex;
  /* gap: 2.67vw;
  height: 15.73vw;
  padding: 8.53vw 7.47vw; */
  position: relative;
  width: 100%;
}

.mobile-contact .full-name-eWQgIz {
  background-color: transparent;
  border: none;
  padding: 5vw 5vw;
  width: 100%;
}

.mobile-contact .full-name-eWQgIz:focus,
.mobile-contact .full-name-eWQgIz:hover,
.mobile-contact .full-name-eWQgIz:active {
  border: none;
  outline: none;
}

.mobile-contact .frame-1000001251-nsgrTz {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.27vw solid;
  border-color: var(--general-color3);
  border-radius: 4.27vw;
  /* display: flex; */
  /* gap: 2.67vw;
  height: 15.73vw;
  padding: 8.53vw 7.47vw; */
  position: relative;
  width: 100%;
}

.mobile-contact .phone-number-optional-3xIAQt {
  background-color: transparent;
  border: none;
  padding: 5vw 5vw;
  width: 100%;
}

.mobile-contact .phone-number-optional-3xIAQt:focus,
.mobile-contact .phone-number-optional-3xIAQt:hover,
.mobile-contact .phone-number-optional-3xIAQt:active {
  border: none;
  outline: none;
}

.mobile-contact .full-name-1lo6zf {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 6.93vw;
  margin-bottom: -3.87vw;
  margin-top: -4.4vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.mobile-contact .last-name-lTUbR6 {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 6.93vw;
  margin-bottom: -3.87vw;
  margin-top: -4.4vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.mobile-contact .phone-number-optional-3xIAQt {
  background-color: transparent;
  letter-spacing: 0.0vw;
  /* line-height: 6.93vw;
  margin-bottom: -3.87vw;
  margin-top: -4.4vw; */
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.mobile-contact .frame-1000001252-nsgrTz {
  align-items: center;
  /* height: 15.73vw; */
}

.mobile-contact .email-address-EAAHuA {
  background-color: transparent;
  letter-spacing: 0.0vw;
  /* line-height: 6.93vw;
  margin-bottom: -3.87vw;
  margin-top: -4.4vw; */
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  background-color: transparent;
}

.mobile-contact .email-address-FUYrxG {
  background-color: transparent;
  letter-spacing: 0.0vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  /* line-height: 1.62vw;
  margin-bottom: -0.91vw;
  margin-top: -1.03vw; */
  width: 100%;
  border: none;
  outline: none;
  padding: 5vw 5vw;
}

.mobile-contact .email-address-FUYrxG:focus,
.mobile-contact .email-address-FUYrxG:hover,
.mobile-contact .email-address-FUYrxG:active {
  border: none;
  outline: none;
}

.mobile-contact .select-role-BIoeTz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6.13vw;
  position: relative;
  width: 87.2vw;
}

.mobile-contact .type-your-message-ERmoiB {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 9.07vw;
  margin-right: -50.4vw;
  margin-top: -0.27vw;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: 137.6vw;
}

.mobile-contact .frame-1000002060-ERmoiB {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6.4vw;
  position: relative;
  width: 100%;
}

.mobile-contact .frame-1000001252-0kBN93 {
  align-items: flex-start;
  /* height: 40.8vw; */
}

.mobile-contact .message-W3m1TR {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 6.93vw;
  margin-top: -0.27vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.mobile-contact .button-BIoeTz {
  /* height: 19.2vw; */
  padding: 3vw 7vw;
}

.mobile-contact .button {
  align-items: center;
  background-color: var(--brandbrandorange);
  border-radius: 16.0vw;
  display: inline-flex;
  flex-direction: column;
  gap: 2.67vw;
  justify-content: center;
  position: relative;
}

.mobile-contact .contact-me {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 6.4vw;
  margin-top: -0.27vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.mobile-contact .frame-1000001251 {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.27vw solid;
  border-color: var(--general-color3);
  border-radius: 4.27vw;
  display: flex;
  gap: 2.67vw;
  height: 15.73vw;
  padding: 8.53vw 7.47vw;
  position: relative;
  width: 100%;
}

.mobile-contact .frame-1000001252 {
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.27vw solid;
  border-color: var(--general-color3);
  border-radius: 4.27vw;
  display: flex;
  /* gap: 2.67vw;
  padding: 8.53vw 7.47vw; */
  position: relative;
  width: 100%;
}

.mobile-contact .frame-1000001252.text-message {
  border: none;
}

.mobile-contact .frame-1000001252.text-message textarea {
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.27vw solid;
  border-color: var(--general-color3);
  border-radius: 4.27vw;
  width: 100%;
  padding: 5vw;
}

.mobile-contact .line-3 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

.mobile-contact .line-4 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

.mobile-contact .line-5 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

.mobile-contact .line-7 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

.mobile-contact .line-8 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

.mobile-contact .line-9 {
  background-color: transparent;
  height: 0.27vw;
  object-fit: cover;
  position: absolute;
}

/* screen - tabletcontact */

.tabletcontact {
  background-color: transparent;
  height: 150vw;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.tabletcontact .form-registration-type7-g0GqZx {
  background-color: var(--general-colormidnight-blue---hero-section);
  height: 150vw;
  left: 0.0vw;
  overflow: hidden;
  position: relative;
  top: 0.0vw;
  width: 100.0vw;
}

.tabletcontact .navbar-3Dabhx {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  justify-content: center;
  left: 0.0vw;
  padding: 2.34vw 7.03vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.tabletcontact .group-mSpd8x {
  background-color: transparent;
  height: 5.37vw;
  position: relative;
  width: 8.69vw;
}

.tabletcontact .logo-47Nx6P {
  background-color: transparent;
  height: 5.37vw;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 8.69vw;
}

.tabletcontact .bharat-logo-uIDyBw {
  background-color: transparent;
  height: 5.37vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 8.69vw;
}

.tabletcontact .grid-3Dabhx {
  background-color: transparent;
  height: 127.83vw;
  left: -28.12vw;
  position: absolute;
  top: 13.38vw;
  width: 156.25vw;
}

.tabletcontact .group-36458-ZPqgw3 {
  background-color: transparent;
  height: 127.83vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 156.25vw;
}

.tabletcontact .line-3-xYgpRW {
  left: 1459.18vw;
  top: 1031.45vw;
  width: 127.83vw;
}

.tabletcontact .line-5-xYgpRW {
  height: 119.53vw;
  left: 52.05vw;
  top: 0.0vw;
  width: 0.1vw;
}

.tabletcontact .line-6-xYgpRW {
  height: 119.53vw;
  left: 78.12vw;
  top: 0.0vw;
  width: 0.1vw;
}

.tabletcontact .line-7-xYgpRW {
  height: 119.53vw;
  left: 104.2vw;
  top: 0.0vw;
  width: 0.1vw;
}

.tabletcontact .line-8-xYgpRW {
  left: 1563.28vw;
  top: 1031.45vw;
  width: 127.83vw;
}

.tabletcontact .line-9-xYgpRW {
  left: 1589.36vw;
  top: 1031.45vw;
  width: 127.83vw;
}

.tabletcontact .line-4-xYgpRW {
  left: 1433.11vw;
  top: 1031.45vw;
  width: 127.83vw;
}

.tabletcontact .group-36459-ZPqgw3 {
  background-color: transparent;
  height: 156.25vw;
  left: 14.16vw;
  position: absolute;
  top: -14.16vw;
  transform: rotate(-90deg);
  width: 127.83vw;
}

.tabletcontact .line-3-91WLta {
  left: -28.61vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-5-91WLta {
  height: 0.1vw;
  left: -7.32vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-6-91WLta {
  height: 0.1vw;
  left: 13.96vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-7-91WLta {
  height: 0.1vw;
  left: 35.25vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-8-91WLta {
  left: 56.54vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-9-91WLta {
  left: 77.93vw;
  top: 78.12vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.tabletcontact .line-4-91WLta {
  left: -1109.57vw;
  top: 1511.23vw;
  transform: rotate(90deg);
  width: 156.25vw;
}

.tabletcontact .left-3Dabhx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 4.0vw;
  left: 7.03vw;
  position: absolute;
  top: 13.33vw;
  width: 85.94vw;
}

.tabletcontact .img-Up5YU1 {
  background-color: transparent;
  height: 21.0vw;
  position: relative;
  width: 36.23vw;
}

.tabletcontact .rectangle-MxzKr2 {
  background-color: var(--sunglow);
  border-radius: 0.43vw;
  height: 14.55vw;
  left: 0.0vw;
  position: absolute;
  top: 6.54vw;
  width: 36.23vw;
}

.tabletcontact .bharat-bit-moji-MxzKr2 {
  background-color: transparent;
  height: 23.83vw;
  left: 4.59vw;
  object-fit: cover;
  position: absolute;
  top: -2.93vw;
  width: 24.41vw;
}

.tabletcontact .polygon-1-MxzKr2 {
  background-color: transparent;
  height: 1.37vw;
  left: 7.91vw;
  position: absolute;
  top: 2.44vw;
  width: 1.37vw;
}

.tabletcontact .polygon-3-MxzKr2 {
  background-color: transparent;
  height: 1.37vw;
  left: 20.61vw;
  position: absolute;
  top: 0.1vw;
  width: 1.37vw;
}

.tabletcontact .text-Up5YU1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.34vw;
  position: relative;
}

.tabletcontact .title-cl36Df {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 7.03vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: left;
}

.tabletcontact .reach-out-with-your-cl36Df {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.34vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
}

.tabletcontact .right-3Dabhx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  left: 7.03vw;
  position: absolute;
  top: 40vw;
  width: 85.94vw;
}

.tabletcontact .form-Oi3qXj {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.34vw;
  position: relative;
  width: 100%;
}

.tabletcontact .frame-1000001250-PnUxyp {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.1vw solid;
  border-color: var(--general-color3);
  border-radius: 1.56vw;
  display: flex;
  gap: 0.98vw;
  height: 5.76vw;
  padding: 3.12vw 2.73vw;
  position: relative;
  width: 100%;
}

.tabletcontact .save-to-contacts-4U2xk3 {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-bottom: -1.42vw;
  margin-top: -1.61vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .frame-1000001251-PnUxyp {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.1vw solid;
  border-color: var(--general-color3);
  border-radius: 1.56vw;
  display: flex;
  gap: 0.98vw;
  height: 5.76vw;
  padding: 3.12vw 2.73vw;
  position: relative;
  width: 100%;
}

.tabletcontact .phone-number-optional-xmGpuj {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-bottom: -1.42vw;
  margin-top: -1.61vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .frame-1000001252-PnUxyp {
  align-items: center;
  height: 5.76vw;
}

.tabletcontact .email-address-5Tkooz {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-bottom: -1.42vw;
  margin-top: -1.61vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .select-role-Oi3qXj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.25vw;
  position: relative;
  width: 85.94vw;
}

.tabletcontact .type-your-message-yTV4ZW {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 3.32vw;
  margin-top: -0.1vw;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: 50.39vw;
}

.tabletcontact .frame-1000002060-yTV4ZW {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.34vw;
  position: relative;
  width: 100%;
}

.tabletcontact .frame-1000001252-ybMXz5 {
  align-items: flex-start;
  height: 14.94vw;
}

.tabletcontact .message-shZ20c {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .button-Oi3qXj {
  align-items: center;
  align-self: stretch;
  background-color: var(--brandbrandorange);
  border-radius: 5.86vw;
  display: flex;
  flex-direction: column;
  gap: 0.98vw;
  height: 7.03vw;
  justify-content: center;
  padding: 2.34vw 3.12vw;
  position: relative;
  width: 100%;
}

.tabletcontact .contact-me-R434Et {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.34vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .frame-1000001252 {
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.1vw solid;
  border-color: var(--general-color3);
  border-radius: 1.56vw;
  display: flex;
  gap: 0.98vw;
  padding: 3.12vw 2.73vw;
  position: relative;
  width: 100%;
}

.tabletcontact .line-3 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.tabletcontact .line-4 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.tabletcontact .line-5 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.tabletcontact .line-7 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.tabletcontact .line-8 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

.tabletcontact .line-9 {
  background-color: transparent;
  height: 0.1vw;
  object-fit: cover;
  position: absolute;
}

/* screen - web-contact-all-breakpoints */

.web-contact-all-breakpoints {
  background-color: transparent;
  height: 95.0vw;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.web-contact-all-breakpoints .form-registration-type9-WwdiHC {
  background-color: var(--general-colormidnight-blue---hero-section);
  height: 95.0vw;
  left: 0.0vw;
  overflow: hidden;
  position: relative;
  top: 0.0vw;
  width: 100.0vw;
}

.web-contact-all-breakpoints .navbar-Qtr7Ex {
  align-items: center;
  justify-content: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  gap: 2.69vw;
  left: 0.0vw;
  padding: 2.5vw 9.5vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.web-contact-all-breakpoints .group-GWi1ZA {
  background-color: transparent;
  height: 4.56vw;
  position: relative;
  width: 7.37vw;
}

.web-contact-all-breakpoints .logo-OHBTB6 {
  background-color: transparent;
  height: 4.56vw;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 7.38vw;
}

.web-contact-all-breakpoints .bharat-logo-pXJkJK {
  background-color: transparent;
  height: 4.56vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 7.38vw;
}

.web-contact-all-breakpoints .menu-GWi1ZA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 3.5vw;
  justify-content: center;
  position: relative;
}

.web-contact-all-breakpoints .home-VLf0yb {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .blog-VLf0yb {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .download-resume-VLf0yb {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .home-VLf0yb,
.web-contact-all-breakpoints .blog-VLf0yb,
.web-contact-all-breakpoints .download-resume-VLf0yb {
  transition: 0.3s;
  cursor: pointer;
}

.web-contact-all-breakpoints .home-VLf0yb:hover,
.web-contact-all-breakpoints .blog-VLf0yb:hover,
.web-contact-all-breakpoints .download-resume-VLf0yb:hover {
  opacity: 0.5;
}

.web-contact-all-breakpoints .home-VLf0yb a,
.web-contact-all-breakpoints .home-VLf0yb a:visited,
.web-contact-all-breakpoints .home-VLf0yb a:active,
.web-contact-all-breakpoints .blog-VLf0yb a,
.web-contact-all-breakpoints .blog-VLf0yb a:visited,
.web-contact-all-breakpoints .blog-VLf0yb a:active,
.web-contact-all-breakpoints .download-resume-VLf0yb a,
.web-contact-all-breakpoints .download-resume-VLf0yb a:visited,
.web-contact-all-breakpoints .download-resume-VLf0yb a:active {
  text-decoration: none;
  color: #fff;
}

.web-contact-all-breakpoints .button-GWi1ZA {
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
}

.web-contact-all-breakpoints .button-GWi1ZA:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}

.web-contact-all-breakpoints .grid-Qtr7Ex {
  background-color: transparent;
  height: 81.81vw;
  left: 0.0vw;
  position: absolute;
  top: 8.56vw;
  width: 100.0vw;
}

.web-contact-all-breakpoints .group-36458-aE5Cxf {
  background-color: transparent;
  height: 81.81vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-3-PWIOT7 {
  height: 55.44vw;
  left: 16.69vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-5-PWIOT7 {
  height: 55.44vw;
  left: 33.31vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-6-PWIOT7 {
  height: 55.44vw;
  left: 50.0vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-7-PWIOT7 {
  height: 55.44vw;
  left: 66.69vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-8-PWIOT7 {
  height: 55.44vw;
  left: 83.31vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-9-PWIOT7 {
  height: 55.44vw;
  left: 100.0vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .line-4-PWIOT7 {
  height: 55.44vw;
  left: 0.0vw;
  top: 0.0vw;
  width: 0.06vw;
}

.web-contact-all-breakpoints .group-36459-aE5Cxf {
  background-color: transparent;
  height: 100.0vw;
  left: 9.06vw;
  position: absolute;
  top: -9.06vw;
  transform: rotate(-90deg);
  width: 81.81vw;
}

.web-contact-all-breakpoints .line-3-vxSbUw {
  height: 0.06vw;
  left: -648.69vw;
  top: 1178.81vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-5-vxSbUw {
  height: 0.06vw;
  left: -22.69vw;
  top: 50.0vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-6-vxSbUw {
  height: 0.06vw;
  left: -9.06vw;
  top: 50.0vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-7-vxSbUw {
  height: 0.06vw;
  left: 4.56vw;
  top: 50.0vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-8-vxSbUw {
  height: 0.06vw;
  left: 18.19vw;
  top: 50.0vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-9-vxSbUw {
  height: 0.06vw;
  left: 31.87vw;
  top: 50.0vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .line-4-vxSbUw {
  height: 0.06vw;
  left: -662.31vw;
  top: 1178.81vw;
  transform: rotate(90deg);
  width: 100.0vw;
}

.web-contact-all-breakpoints .back-to-homepage-Qtr7Ex {
  background-color: transparent;
  color: var(--brandbrandorange);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 9.56vw;
  letter-spacing: 0.0vw;
  line-height: 1.75vw;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 13.56vw;
  white-space: nowrap;
  width: auto;
  display: block;
  transition: 0.4s all;
  text-decoration: none;
}

.web-contact-all-breakpoints .back-to-homepage-Qtr7Ex:hover {
  opacity: 0.5;
}

.web-contact-all-breakpoints .frame-1000002061-Qtr7Ex {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  gap: 12.69vw;
  left: 9.56vw;
  position: absolute;
  top: 10vw;
}

.web-contact-all-breakpoints .left-SrX7x3 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.56vw;
  position: relative;
}

.web-contact-all-breakpoints .img-eEL4Qb {
  background-color: transparent;
  height: 18.38vw;
  position: relative;
  width: 31.69vw;
}

.web-contact-all-breakpoints .rectangle-mApSPf {
  background-color: var(--sunglow);
  border-radius: 0.38vw;
  height: 12.69vw;
  left: 0.0vw;
  position: absolute;
  top: 5.69vw;
  width: 31.69vw;
}

.web-contact-all-breakpoints .polygon-1-mApSPf {
  background-color: transparent;
  height: 1.25vw;
  left: 6.88vw;
  position: absolute;
  top: 2.19vw;
  width: 1.25vw;
}

.web-contact-all-breakpoints .bharat-bit-moji-mApSPf {
  background-color: transparent;
  height: 22.0vw;
  left: 4.88vw;
  object-fit: cover;
  position: absolute;
  top: -3.62vw;
  width: 19.88vw;
}

.web-contact-all-breakpoints .polygon-3-mApSPf {
  left: 18.0vw;
  top: 0.06vw;
}

.web-contact-all-breakpoints .text-eEL4Qb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.5vw;
  position: relative;
  width: 31.69vw;
}

.web-contact-all-breakpoints .title-ewq77p {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 4.5vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: left;
}

.web-contact-all-breakpoints .reach-out-with-your-ewq77p {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.12vw;
  opacity: 0.7;
  position: relative;
  text-align: left;
}

.web-contact-all-breakpoints .right-SrX7x3 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2vw;
  position: relative;
}

.mobile-contact .contact-buttons,
.web-contact-all-breakpoints .right-SrX7x3 .contact-buttons,
.tabletcontact .right-3Dabhx .contact-buttons {
  width: 100%;
}

.mobile-contact .contact-buttons > div,
.web-contact-all-breakpoints .right-SrX7x3 .contact-buttons > div,
.tabletcontact .right-3Dabhx .contact-buttons > div {
  border: 1.5px solid white ;
  border-radius: 1.5vw;
  width: 100%;
  margin: 1.5vw 0;
  padding: 1vw 2vw;
  display: grid;
  grid-template-columns: 40px 1fr ;
  gap: 1vw;
  align-items: center;
  cursor: pointer;
}
.mobile-contact .contact-buttons > div {
  margin: 3vw 0;
  padding: 2vw 3vw;
  border-radius: 2.5vw;
}
.tabletcontact .right-3Dabhx .contact-buttons > div {
  grid-template-columns: 40px 300px ;
  justify-content: center;
}
.mobile-contact .add-to-contact,
.tabletcontact .right-3Dabhx  .add-to-contact,
.web-contact-all-breakpoints .right-SrX7x3  .add-to-contact {
  background-color: #fff;
}

.mobile-contact  .visit-website-icon,
.mobile-contact  .add-contact-icon,
.mobile-contact  .connect-linkedin-icon,
.tabletcontact .right-3Dabhx  .visit-website-icon,
.tabletcontact .right-3Dabhx  .add-contact-icon,
.tabletcontact .right-3Dabhx  .connect-linkedin-icon,
.web-contact-all-breakpoints .right-SrX7x3  .visit-website-icon,
.web-contact-all-breakpoints .right-SrX7x3  .add-contact-icon,
.web-contact-all-breakpoints .right-SrX7x3  .connect-linkedin-icon {
  width: 40px;
  height: 40px;
  border: solid 3px #093753;
  border-radius: 4vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
.mobile-contact  .visit-website-icon img ,
.mobile-contact  .add-contact-icon img ,
.mobile-contact  .connect-linkedin-icon  img {
  width: 25px;
  padding: 2px;
}
.mobile-contact  .add-contact-text,
.tabletcontact .right-3Dabhx  .add-contact-text,
.web-contact-all-breakpoints .right-SrX7x3  .add-contact-text {
  color: #093753;
}
.mobile-contact  .visit-website-icon,
.mobile-contact  .connect-linkedin-icon,
.tabletcontact .right-3Dabhx  .visit-website-icon,
.tabletcontact .right-3Dabhx  .connect-linkedin-icon,
.web-contact-all-breakpoints .right-SrX7x3  .visit-website-icon,
.web-contact-all-breakpoints .right-SrX7x3  .connect-linkedin-icon {
  border-color: #fff;
}
.mobile-contact  .visit-website-icon svg,
.mobile-contact .connect-linkedin-icon svg,
.tabletcontact .right-3Dabhx  .visit-website-icon svg,
.tabletcontact .right-3Dabhx  .connect-linkedin-icon svg,
.web-contact-all-breakpoints .right-SrX7x3  .visit-website-icon svg,
.web-contact-all-breakpoints .right-SrX7x3  .connect-linkedin-icon svg {
  color: #ef856e;
}
.mobile-contact .add-contact-icon,
.mobile-contact  .visit-website-icon,
.mobile-contact .connect-linkedin-icon {
  width: 30px;
  height: 30px;
  border-width: 1px;
}
.mobile-contact .add-contact-icon svg,
.mobile-contact  .visit-website-icon svg,
.mobile-contact .connect-linkedin-icon svg {
  width: 20px;
  height: 20px;
}

.tabletcontact .form-gTZnWd,
.web-contact-all-breakpoints .form-gTZnWd {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  position: relative;
  width: 36.56vw;
}

.tabletcontact .form-gTZnWd {
  width: 100%;
}

.tabletcontact .frame-1000001250-byYbAK,
.web-contact-all-breakpoints .frame-1000001250-byYbAK {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.06vw solid;
  border-color: var(--general-color3);
  border-radius: 1.0vw;
  display: flex;
  position: relative;
  width: 100%;
  /* gap: 0.62vw;
  height: 3.69vw;
  padding: 2.0vw 1.75vw; */
}

.tabletcontact .full-name-eWQgIz,
.web-contact-all-breakpoints .full-name-eWQgIz {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  /* margin-bottom: -0.91vw;
  margin-top: -1.03vw; */
  width: 100%;
  border: none;
  outline: none;
  padding: 1.0vw 1.75vw;
}

.tabletcontact .full-name-eWQgIz {
  padding: 2.0vw 3vw;
}

.tabletcontact .full-name-eWQgIz:focus,
.tabletcontact .full-name-eWQgIz:hover,
.tabletcontact .full-name-eWQgIz:active,
.web-contact-all-breakpoints .full-name-eWQgIz:focus,
.web-contact-all-breakpoints .full-name-eWQgIz:hover,
.web-contact-all-breakpoints .full-name-eWQgIz:active {
  border: none;
  outline: none;
}

.tabletcontact .frame-1000001251-byYbAK,
.web-contact-all-breakpoints .frame-1000001251-byYbAK {
  align-items: center;
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.06vw solid;
  border-color: var(--general-color3);
  border-radius: 1.0vw;
  display: flex;
  position: relative;
  width: 100%;
  /* gap: 0.62vw;
  height: 3.69vw;
  padding: 2.0vw 1.75vw; */
}

.tabletcontact .phone-number-optional-xr2QQr,
.web-contact-all-breakpoints .phone-number-optional-xr2QQr {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  /* margin-bottom: -0.91vw;
  margin-top: -1.03vw; */
  width: 100%;
  border: none;
  outline: none;
  padding: 1.0vw 1.75vw;
}
.tabletcontact .phone-number-optional-xr2QQr:focus,
.tabletcontact .phone-number-optional-xr2QQr:hover,
.tabletcontact .phone-number-optional-xr2QQr:active,
.web-contact-all-breakpoints .phone-number-optional-xr2QQr:focus,
.web-contact-all-breakpoints .phone-number-optional-xr2QQr:hover,
.web-contact-all-breakpoints .phone-number-optional-xr2QQr:active {
  border: none;
  outline: none;
}

.tabletcontact .frame-1000001252-byYbAK,
.web-contact-all-breakpoints .frame-1000001252-byYbAK {
  align-items: center;
  /* height: 3.69vw; */
}

.web-contact-all-breakpoints .email-address-FUYrxG {
  background-color: transparent;
  letter-spacing: 0.0vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
  /* line-height: 1.62vw;
  margin-bottom: -0.91vw;
  margin-top: -1.03vw; */
  width: 100%;
  border: none;
  outline: none;
  padding: 1.5vw 1.75vw;
}

.web-contact-all-breakpoints .email-address-FUYrxG:focus,
.web-contact-all-breakpoints .email-address-FUYrxG:hover,
.web-contact-all-breakpoints .email-address-FUYrxG:active {
  border: none;
  outline: none;
}


.tabletcontact .select-role-gTZnWd,
.web-contact-all-breakpoints .select-role-gTZnWd {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.44vw;
  position: relative;
}

.tabletcontact .select-role-gTZnWd {
  width: 100%;
}

.web-contact-all-breakpoints .type-your-message-xwSFqU {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 2.12vw;
  margin-top: -0.06vw;
  opacity: 0.7;
  position: relative;
  text-align: left;
  width: 32.25vw;
}

.tabletcontact .frame-1000002060-xwSFqU,
.web-contact-all-breakpoints .frame-1000002060-xwSFqU {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1.5vw;
  position: relative;
  width: 36.0vw;
}

.tabletcontact .frame-1000002060-xwSFqU {
  width: 100%;
}

.tabletcontact .frame-1000001252-muND3E,
.web-contact-all-breakpoints .frame-1000001252-muND3E {
  align-items: flex-start;
  height: 9.56vw;
  border: none;
}

.tabletcontact .frame-1000001252-muND3E {
  height: 100%;
  padding: 0;
}

.tabletcontact .frame-1000001252-muND3E textarea,
.web-contact-all-breakpoints .frame-1000001252-muND3E textarea {
  width: 100%;
  height: 100%;
  padding: 1.5vw 1.75vw;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.06vw solid;
  border-color: var(--general-color3);
  border-radius: 1.0vw;
}

.tabletcontact .message-3ICOkS,
.web-contact-all-breakpoints .message-3ICOkS {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  opacity: 0.8;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .polygon-2-Qtr7Ex {
  background-color: transparent;
  height: 1.25vw;
  left: 24.12vw;
  position: absolute;
  top: 38.5vw;
  width: 1.25vw;
}

.web-contact-all-breakpoints .polygon-3-Qtr7Ex {
  left: 12.5vw;
  top: 30.81vw;
}

.web-contact-all-breakpoints .polygon-5-Qtr7Ex {
  background-color: transparent;
  height: 1.25vw;
  left: 34.88vw;
  position: absolute;
  top: 33.0vw;
  width: 1.25vw;
}

.web-contact-all-breakpoints .button {
  align-items: center;
  background-color: var(--brandbrandorange);
  border-radius: 3.75vw;
  display: inline-flex;
  flex-direction: column;
  gap: 0.62vw;
  height: 4.5vw;
  justify-content: center;
  padding: 1.5vw 2.0vw;
  position: relative;
}

.web-contact-all-breakpoints .contact-me {
  background-color: transparent;
  letter-spacing: 0.0vw;
  line-height: 1.5vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .frame-1000001252 {
  align-self: stretch;
  background-color: var(--general-colormidnight-blue---hero-section);
  border: 0.06vw solid;
  border-color: var(--general-color3);
  border-radius: 1.0vw;
  display: flex;
  position: relative;
  width: 100%;
  /* gap: 0.62vw;
  padding: 2.0vw 1.75vw; */
}

.web-contact-all-breakpoints .frame-1000001252.textarea-message {
  border: none;
}

.web-contact-all-breakpoints .line-3 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .line-4 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .line-5 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .line-7 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .line-8 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .line-9 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.web-contact-all-breakpoints .polygon-3 {
  background-color: transparent;
  height: 1.25vw;
  position: absolute;
  width: 1.25vw;
}

/* ---------------------------------------------------- */
.mobile-contact .btn-send-message,
.web-contact-all-breakpoints .btn-send-message {
  width: 100%;
}
.tabletcontact .btn-send-message,
.mobile-contact .btn-send-message,
.web-contact-all-breakpoints .btn-send-message {
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
}

.tabletcontact .btn-send-message:hover,
.mobile-contact .btn-send-message:hover,
.web-contact-all-breakpoints .btn-send-message:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}

.mobile-contact .btn-send-message:hover *,
.web-contact-all-breakpoints .btn-send-message:hover * {
  color: #ef856e;
}

/* ----------------------------------------------------------- */
.contact-footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 30vw;
  justify-content: center;
  /* gap: 3vw; */
  color: #fff;
  text-align: justify;
  padding: 3vw 0;
  line-height: 2vw;
}

.mobile-contact .contact-footer {
  grid-template-columns: 1fr;
  padding: 0 10vw;
  padding-bottom: 10vw;
  text-align: justify;
}

.contact-footer .footer-logo {
  text-align: center;
}

.contact-footer .footer-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
  justify-content: flex-start;
  margin: 2vw 0;
}
.contact-footer .footer-desc {
  margin: 20px 0;
}
.contact-footer .footer-icons > div {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ef856e;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.contact-footer .footer-icons > div:hover {
  opacity: 0.5;
}
.contact-footer .footer-icons svg {
  color: #fff;
}
.contact-footer .line {
  width: 30vw;
  height: 1px;
  background-color: #ef856e;
  margin: 30px auto;
}
/* ------------------ NavBar Start --------------------- */
.web-contact-all-breakpoints .navbar-ugHrVJ {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  gap: 2.68vw;
  left: 0vw;
  padding: 2.5vw 9.49vw;
  position: absolute;
  top: 0vw;
  width: 99.88vw;
}

.web-contact-all-breakpoints .group-wZiEna {
  background-color: transparent;
  height: 4.55vw;
  position: relative;
  width: 7.36vw;
}

.web-contact-all-breakpoints .logo-xErLWI {
  background-color: transparent;
  height: 4.56vw;
  left: 0vw;
  position: relative;
  top: 0vw;
  width: 7.37vw;
}

.web-contact-all-breakpoints .bharat-logo-zpfzpS {
  background-color: transparent;
  height: 4.56vw;
  left: 0vw;
  position: absolute;
  top: 0vw;
  width: 7.37vw;
}

.web-contact-all-breakpoints .menu-wZiEna {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 3.5vw;
  justify-content: center;
  position: relative;
}

.web-contact-all-breakpoints .home-VT5um2 {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .blog-VT5um2 {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .home-VT5um2,
.web-contact-all-breakpoints .blog-VT5um2,
.web-contact-all-breakpoints .download-resume-VT5um2 {
  transition: 0.3s;
  cursor: pointer;
}

.web-contact-all-breakpoints .home-VT5um2:hover,
.web-contact-all-breakpoints .blog-VT5um2:hover,
.web-contact-all-breakpoints .download-resume-VT5um2:hover {
  opacity: 0.5;
}

.web-contact-all-breakpoints .home-VT5um2 a,
.web-contact-all-breakpoints .home-VT5um2 a:visited,
.web-contact-all-breakpoints .home-VT5um2 a:active,
.web-contact-all-breakpoints .blog-VT5um2 a,
.web-contact-all-breakpoints .blog-VT5um2 a:visited,
.web-contact-all-breakpoints .blog-VT5um2 a:active,
.web-contact-all-breakpoints .download-resume-VT5um2 a,
.web-contact-all-breakpoints .download-resume-VT5um2 a:visited,
.web-contact-all-breakpoints .download-resume-VT5um2 a:active {
  text-decoration: none;
  color: #fff;
}

.web-contact-all-breakpoints .download-resume-VT5um2 {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 1.62vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.web-contact-all-breakpoints .button-wZiEna {
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
}

.web-contact-all-breakpoints .button-wZiEna:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}
/* ----------- */

.tabletcontact .navbar-ZuLsT0 {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  justify-content: space-between;
  left: 0vw;
  padding: 2.34vw 7.03vw;
  position: absolute;
  top: 0vw;
  width: 100vw;
}

.tabletcontact .group-IeOsTh {
  background-color: transparent;
  height: 5.37vw;
  position: relative;
  width: 8.69vw;
}

.tabletcontact .logo-HdIguy {
  background-color: transparent;
  height: 5.37vw;
  left: 0vw;
  position: relative;
  top: 0vw;
  width: 8.69vw;
}

.tabletcontact .bharat-logo-qmJSwZ {
  background-color: transparent;
  height: 5.37vw;
  left: 0vw;
  position: absolute;
  top: 0vw;
  width: 8.69vw;
}

.tabletcontact .menu-IeOsTh {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0vw 13.48vw;
  position: relative;
  width: 59.44vw;
}

.tabletcontact .home-gzrqiT {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .blog-gzrqiT {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .download-resume-gzrqiT {
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 2.54vw;
  margin-top: -0.1vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.tabletcontact .home-gzrqiT,
.tabletcontact .blog-gzrqiT,
.tabletcontact .download-resume-gzrqiT {
  transition: 0.3s;
  cursor: pointer;
}

.tabletcontact .home-gzrqiT:hover,
.tabletcontact .blog-gzrqiT:hover,
.tabletcontact .download-resume-gzrqiT:hover {
  opacity: 0.5;
}

.tabletcontact .home-gzrqiT a,
.tabletcontact .home-gzrqiT a:visited,
.tabletcontact .home-gzrqiT a:active,
.tabletcontact .blog-gzrqiT a,
.tabletcontact .blog-gzrqiT a:visited,
.tabletcontact .blog-gzrqiT a:active,
.tabletcontact .download-resume-gzrqiT a,
.tabletcontact .download-resume-gzrqiT a:visited,
.tabletcontact .download-resume-gzrqiT a:active {
  text-decoration: none;
  color: #fff;
}

.tabletcontact .button-IeOsTh {
  display: inline-flex;
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 1.5vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
  align-items: center;
  background-color: var(--brandbrandorange);
  border-radius: 3.75vw;
  justify-content: center;
  padding: 1.5vw 2vw;
}

.tabletcontact .button-IeOsTh:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}
/* ---------------------- */

.mobile-contact .navbar-mKhs31 {
  align-items: center;
  background-color: var(--general-colormidnight-blue---hero-section);
  display: flex;
  justify-content: space-between;
  left: 0vw;
  padding: 4vw 5vw;
  position: absolute;
  top: 0vw;
  width: 100vw;
}

.mobile-contact .group-IIZKpG {
  background-color: transparent;
  height: 10vw;
  position: relative;
  width: 15vw;
}

.mobile-contact .logo-8UYddd {
  background-color: transparent;
  height: 100%;
  left: 0vw;
  position: relative;
  top: 0vw;
  width: 100%;
}

.mobile-contact .bharat-logo-ixXglx {
  background-color: transparent;
  left: 0vw;
  position: absolute;
  top: 0vw;
  width: 100%;
}

.mobile-contact .button-IIZKpG {
  flex: 0 0 auto;
  cursor: pointer;
  transition: 0.5s all;
  border: 2px solid #ef856e;
  background-color: transparent;
  letter-spacing: 0vw;
  line-height: 1.5vw;
  margin-top: -0.06vw;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
  align-items: center;
  background-color: var(--brandbrandorange);
  border-radius: 100px;
  justify-content: center;
  padding: 1.5vw 4vw;
}

.mobile-contact .button-IIZKpG:hover {
  background-color: #093753;
  border: 2px solid #ef856e;
}

.mobile-contact .contact-me-hamburger {
  display: flex;
  align-items: center;
  gap: 3vw;
}

.mobile-contact .hamburger-icon {
  cursor: pointer;
  transition: all 0.4s;
}

.mobile-contact .hamburger-icon:hover {
  opacity: 0.5;
}

.mobile-contact .contact-me-hamburger svg {
  color: #FFF;
}

/* -------  */
body.mobile-menu-off .fixed-mobile-nav {
  display: none;
}
.mobile-contact .fixed-mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #093753;
  z-index: 500;
}

.mobile-contact .fixed-mobile-nav .times-icon {
  position: fixed;
  right: 5vw;
  top: 5vw;
  cursor: pointer;
  transition: all 0.4s;
}

.mobile-contact .fixed-mobile-nav .times-icon:hover {
  opacity: 0.5;
}

.mobile-contact .fixed-mobile-nav .times-icon svg {
  color: #FFF;
}

.mobile-contact .fixed-mobile-nav .nav-items {
  text-align: center;
  margin-top: 15vw;
}

.mobile-contact .fixed-mobile-nav .nav-items div {
  margin: 2vw;
}


.mobile-contact .fixed-mobile-nav .nav-items a {
  transition: 0.3s;
  cursor: pointer;
  display: block;
  padding: 5vw;
  font-size: 5vw;
}
.mobile-contact .fixed-mobile-nav .nav-items a:hover {
  opacity: 0.5;
}

.mobile-contact .fixed-mobile-nav .nav-items a,
.mobile-contact .fixed-mobile-nav .nav-items a:visited,
.mobile-contact .fixed-mobile-nav .nav-items a:active {
  text-decoration: none;
  color: #fff;
}
/* ---------------  */

/* ------------------ NavBar End --------------------- */


/* ------------------- */
/* ---------------------------- Footer styles ------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #093753;
  padding: 4.49vw 9.49vw;
}
.footer .footer-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile-contact .footer .footer-body,
.tabletcontact .footer .footer-body {
  grid-template-columns: 1fr;
}
.footer .footer-logo {
  margin-bottom: 2vw;
}
.footer .footer-desc {
  line-height: 2vw;
}
.mobile-contact .footer-desc {
  line-height: 4vw;
}
.footer .footer-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vw;
  justify-content: flex-start;
  margin: 2vw 0;
}
.footer .footer-icons > div {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ef856e;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.footer .footer-icons > div:hover {
  opacity: 0.5;
}
.footer .footer-icons svg {
  color: #fff;
}
.footer .footer-right {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2vw;
}
.mobile-contact .footer .footer-right {
  grid-template-columns: auto;
  gap: 4vw;
}
.mobile-contact .footer .footer-right,
.tabletcontact .footer .footer-right {
  justify-content: flex-start;
  padding: 4vw 0;
}
.footer .footer-right a {
  text-decoration: none;
  color: #FFF;
}
.footer .copyright {
  text-align: center;
}
.footer .copyright .line {
  width: 70vw;
  height: 1px;
  background-color: #ef856e;
  margin: 2vw auto;
  margin-bottom: 5vw;
}
/* ----------------------------------------------------------- */


@media screen and (max-width: 800px) {
  .mobile-contact {
    height: 340vw;
  }
  
  .mobile-contact .form-registration-type8-Pg4JIv {
    height: 340vw;
  }

  .contact-footer {
    line-height: 7vw;
  }
}
@media screen and (max-width: 600px) {
  .mobile-contact {
    height: 360vw;
  }
  
  .mobile-contact .form-registration-type8-Pg4JIv {
    height: 360vw;
  }

  .contact-footer {
    line-height: 7vw;
  }
}
@media screen and (max-width: 500px) {
  .mobile-contact {
    height: 380vw;
  }
  
  .mobile-contact .form-registration-type8-Pg4JIv {
    height: 380vw;
  }

}
@media screen and (max-width: 400px) {
  .mobile-contact {
    height: 400vw;
  }
  
  .mobile-contact .form-registration-type8-Pg4JIv {
    height: 400vw;
  }

}

/* ------- */
@media screen and (max-width: 1023px) {
  .screen.web-contact-all-breakpoints {
    display: none;
  }

  .screen.tabletcontact {
    display: none;
  }
  
  .contact-footer .line {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .screen.web-contact-all-breakpoints {
    display: none;
  }

  .screen.mobile-contact {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .screen.mobile-contact {
    display: none;
  }

  .screen.tabletcontact {
    display: none;
  }
}